.add {
  padding: 2px;
  font-size: 20px;
  position: relative;
  left:150px;
  transform: translateX(-50%);
}

.wrap :hover {
  color: skyblue;
  background-color: whitesmoke;
}

.spinWrapper {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  border-radius: 4px;
}

.tree {
  background-color: #fdfdfd;
}